.DS_Store
terraform/variable.tf
memo.txt
terraform/gcp
terraform/terraform.tfstate
terraform/.terraform.lock.hcl
terraform/.terraform
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate.backup
deploy.sh
